<!DOCTYPE html>
<html>

<div style='background-color: aqua; color: red;'>
<p id=test> Ceci est un test </p>
<em>
<h1 style='margin-left: 500px; margin-right: 200px;'>Dès que le vent soufflera<h3 style='margin-left: 670px;'>Renaud
<h3 style='margin-left: 450px;'> * Voissi les parole de ma chanson préférait de mon autor préférait * <br> <img src="renaud_mon_bébé"  style="margin-left: 250px;">
<h4> Débu de la chenson :)  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> C'est pas l'homme qui prend la mer <br> <h4 style='margin-left: 30px; width: 100%; height: 100%;'> C'est la mer qui prend l'homme <br>          
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> Moi la mer elle m'a pris <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'> Je m'souviens, un mardi <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'> J'ai troqué mes santiag' <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> Et mon cuir un peu zone <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'> contre une paire de dockside <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> Et un vieux ciré jaune, <br>    <h4 style='margin-left: 30px; width: 100%; height: 100%;'> J'ai déserté les crasses <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'> Qui m'disaient : Sois prudent <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> La mer c'est dégueulasse <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> Les poissons baisent dedans ! <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'> Dès que le vent soufflera je repartira <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> Dès que les vents tourneront nous nous en allerons... <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'> C'est pas l'homme qui prend la mer <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  C'est la mer qui prend l'homme <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Moi la mer elle m'a pris <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Au dépourvu, tant pis... <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  J'ai eu si mal au coeur <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'> Sur la mer en furie <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Qu'j'ai vomi mon quatre-heures <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Et mon minuit aussi. <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   J'me suis cogné partout <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    J'ai dormi dans des draps mouillés <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Ca m'a coûté des sous <br>   <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   C'est d'la plaisance, c'est l'pied ! <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Dès que le vent soufflera je repartira <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Dès que les vents tourneront nous nous en allerons... <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    C'est pas l'homme qui prend la mer <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  C'est la mer qui prend l'homme <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>Mais elle prend pas la femme <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Qui préfère la campagne. <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    La mienne m'attend au port <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Au bout de la jetée <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    L'horizon est bien mort <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Dans ses yeux délavés, <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Assise sur une bitte <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    D'amarrage, elle pleure <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Son homme qui la quitte, <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    La mer c'est son malheur ! <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Dès que le vent soufflera je repartira <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Dès que les vents tourneront nous nous en allerons... <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  C'est pas l'homme qui prend la mer <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>    C'est la mer qui prend l'homme <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Moi la mer elle m'a pris <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Comme on prend un taxi... <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>    Je f'rai le tour du monde <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Pour voir à chaque étape <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Si tous les gars du monde <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Veulent bien m'lâcher la grappe, <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   J'irai z'aux quatre vents <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Foutre un peu le boxon <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Jamais les océans <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Naviguent pas sur des cageots <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Ni sur des poubelles ! <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que le vent soufflera je repartira <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que les vents tourneront nous nous en allerons... <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   C'est pas l'homme qui prend la mer <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  C'est la mer qui prend l'homme <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Moi la mer elle m'a pris<br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Je m'souviens, un vendredi <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>  Ne pleure plus ma mère <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Ton fils est matelot <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Ne pleure plus mon père <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Je vis au fil de l'eau, <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Regardez votre enfant <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Il est parti marin <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Je sais c'est pas marrant <br>     <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Mais c'était mon destin. <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que le vent soufflera je repartira <br>  
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que les vents tourneront nous nous en allerons... <br>  <h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que le vent soufflera je repartira <br>   
<h4 style='margin-left: 30px; width: 100%; height: 100%;'>   Dès que les vents tourneront nous nous en allerons... <br>   <h4> Faim de la chensom :'(   
<h5>Dès cite utile <a href='https://www.capfun.com/camping-france-languedoc_roussillon-flots_bleus-FR.html'>1er site <a href="http://clquifaitdelapatisserie.fr/2016/04/mes-gaufres-dans-l-espece-de-moule-a-gaufre.html">2eme site <a href="https://fr.whoscored.com/Matches/1457136/Live/International-UEFA-Nations-League-A-2020-2021-France-Croatia">3eme site <a href="https:unsite"> 4eme site
    <script type="application/javascript">
        document.getElementById("test").addEventListener("click", test);

function test (event) {
    var _LESCLICKS = 0

    document.getElementById("test").innerHTML="wouwouwouwouwouwo"
}
    </script>
</html>