{% extends "index.html" %}

        {% block content %}

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="text-center">
                    <button class="w-25 m-3 rounded">
                        <img src="images/bateau.svg" class="rounded w-100" alt="bateau">
                    </button>
                    <button class="w-25 m-3 rounded">
                        <img src="images/bouee.svg" class="rounded w-100" alt="bouee">
                    </button>
                    <button class="w-25 m-3 rounded">
                        <img src="images/personne.svg" class="rounded w-100" alt="personne">
                    </button>
                </div>
            </div>
        </div>
{% endblock %}