{% extends "index.html" %}
{% load crispy_forms_tags %}

        {% block content %}

        <div class="row justify-content-center">
            <div class="col-11">
                <div class="text-center">
                    <button class="w-25 m-3 rounded">
                        <img src="../static/images/bateau.svg" class="rounded w-100" alt="bateau">
                    </button>
                    <button class="w-25 m-3 rounded">
                        <img src="../static/images/bouee.svg" class="rounded w-100" alt="bouee">
                    </button>
                    <button class="w-25 m-3 rounded">
                        <img src="../static/images/personne.svg" class="rounded w-100" alt="personne">
                    </button>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col">
        <form method="post" class="mt-5 gx-3 gy-2 align-items-center">
            {% csrf_token %}
        {{ formVictime|crispy }}
                            <button type="submit" class="btn btn-primary">Ajouter</button>

        </form>
    </div>
    <div class="col">
        <form method="post" class="mt-5 gx-3 gy-2 align-items-center">
            {% csrf_token %}
        {{ sauveteurForm|crispy }}
                            <button type="submit" class="btn btn-primary">Ajouter</button>

        </form>
    </div>
    <div class="col">
        <form method="post" class="mt-5 gx-3 gy-2 align-items-center">
            {% csrf_token %}
        {{ bateauForm|crispy }}
                            <button type="submit" class="btn btn-primary">Ajouter</button>

        </form>
    </div>

</div>
{% endblock %}